[submodule "third_party/fontventa"]
	path = third_party/fontventa
	url = https://github.com/InteractiviteVideoEtSystemes/fontventa.git
	branch = migration/almalinux_9
[submodule "third_party/libvad"]
	path = third_party/libvad
	url = https://github.com/aks-tel/libvad.git
	ignore = untracked
