staticdeps
*.rpm
.vs/
bin/
mcu/media/
/XmlRpcMcuClient/build/
/XmlRpcMcuClient/dist/
/XmlRpcMcuClient/nbproject/private/
/sdp/build/
/sdp/dist/
/sdp/nbproject/private/
mcu.key

# Harnais de test WebSocket (log serveur généré)
test/websocket/wstest.server.log
test/websocket/wstest.crt
test/websocket/wstest.key
